       {% load custom_tags %}
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">         
          <li class="nav-header">MANTENIMIENTO</li>
          <li class="nav-item">
            <a href="/productos/" class="nav-link">
              <i class="nav-icon far fa-image"></i>
              <p>Productos</p>
            </a>
          </li>         
          <li class="nav-header">REPORTES</li>
          <li class="nav-item">
            <a href="/productos/" class="nav-link">
              <i class="nav-icon far fa-image"></i>
              <p>Productos</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/clientes/" class="nav-link">
              <i class="nav-icon far fa-image"></i>
              <p>Clientes</p>
            </a>
          </li>
          
          <li class="nav-header">SEGURIDAD</li>
          <li class="nav-item">
            <a href="/usuarios/" class="nav-link">
              <i class="nav-icon far fa-image"></i>
              <p>Usuarios</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/roles/" class="nav-link">
              <i class="nav-icon far fa-image"></i>
              <p>Roles</p>
            </a>
          </li> 
        </ul>
      </nav>